<GeneralContainer>
  <GeneralBreadcrumb @path={{this.model.name}} />
  <div class="product item-details-page {{if this.isZoomed 'is-zoomed'}}">
    <Product::Image 
      @src={{this.productImage}} {{!-- 'this.productImage' is from app/controllers/item.js --}}
      @toggleZoom={{this.toggleZoom}} {{!-- 'this.toggleZoom' is from app/controllers/item.js --}}
    />
    <Product::Details 
      @isDetails={{true}}
      @name={{this.model.name}} {{!-- 'this.model.name' is from app/routes/item.js --}}
      @price={{this.model.price}} {{!-- 'this.model.price' is from app/routes/item.js --}}
      @colors={{this.model.colors}} {{!-- 'this.model.colors' is from app/routes/item.js --}}
      @color={{this.color}} {{!-- 'this.color' is from app/controllers/item.js --}}
      @onChangeColor={{this.onChangeColor}} {{!-- 'this.onChangeColor' is from app/controllers/item.js --}}
    />
  </div>
  <h5 class="mt-5">Features</h5>
  <ul>
    {{!-- 'this.model.features' is from app/routes/item.js --}}
    {{#each this.model.features as |feature|}}
      <li>{{feature}}</li>
    {{/each}}
  </ul>
</GeneralContainer>